<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application>
        <receiver
            android:name=".SmsSentResultReceiver"
            android:exported="false" />
        <receiver
            android:name=".SmsDeliveryResultReceiver"
            android:exported="false" />
    </application>
</manifest>
